@import "tailwindcss";

body {
  background: rgb(9, 10, 36);
  color: white;
  max-width: 100%;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1200) {
  bodY {
    min-height: 130vh;
  }
}
.motion-span {
  transform-style: preserve-3d; /* предотвращает конфликты */
  backface-visibility: hidden; /* улучшает производительность */
}
